*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
.contenedor{
    height: auto;
    width: auto;
}
.logo img{
    margin: 5px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header{
}
nav ul{
    justify-content: center;
    align-items: flex-end;
    font-size: 6em;
    color: black;
}
a{
    margin: 2rem;
    text-decoration: none;
    list-style-type: none;
    color: black; 
    text-transform: capitalize;
}
nav ul li{
    font-size: large;
}
nav ul li:hover{
    background-color: green;
}
.opcion{
    font-size: 1.5rem;
}
#botonEnviar{
    height: auto;
    width: auto;
    font-size: small;
    margin-left: 2rem;
}
.seccionUno{
    background-color: rgb(129, 253, 129);
    height: 6rem;
    width: 100%;
    padding: 2rem;

}
.seccionDos{
    background-color: white;
    height:15rem ;
    max-height:100% ;
    width: 100%;
    padding: 5rem;
    font-weight: bolder;
}
.seccionTres{
    background-color: rgb(129, 253, 129);
    height: 20rem;
    width: 100%;
    padding: 8rem;
    font-weight: bolder;

}
.seccionCuatro{
    background-color: white;

}
.footer{
    grid-area: footer;
    display:inline;
    padding: 3rem;
    height: 10em;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    background-color: rgb(131, 149, 158);
    justify-content: center;
    align-items: center;
}
.contenidoFooter{
    color: black;
    font-weight: bolder;
    font-size: large;
}
h1{
    display: flex;
    color: black;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'IBM Plex Serif', serif;
}
h2{
    display: flex;
    text-transform: uppercase;
    font-size: 9px;
    font-family: 'Playfair Display', serif;
}
h3{
    display: flex;
    padding: 3rem;
    margin-left: 6rem;
    text-transform: capitalize;
    color: rgba(85, 79, 79, 0.89);
    font-size: 9px;
    font-family: 'IBM Plex Serif', serif;
}
p{

    font-size: 12px;
    font-family: 'Roboto Slab', serif;
    text-transform: uppercase;}

.form-group{
}